body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 35px
}

/* header */
  .site-header {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #1676DD;
    height: 60px;
  }

  .main-logo {
    height: 35px;
    margin: 0 auto;
    margin-top: 8px;
    grid-column-start: 2;
    grid-column-end: 3;
  }

/* slider */
  .d-block {
    height: 509px;
  }

  .carousel-indicators {
    bottom: -40px;
  }

  .carousel-indicators li{
    background-color: white;
    border-radius: 30px;
    width: 7px;
    height: 7px;
    border: 1px solid #2B3647;
  }

  .carousel-indicators .active {
    background-color: #2B3647;
  }


  .hero-gradient {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    background-image: linear-gradient(to right, #F36819 , #000000);
    top: 0px;
    position: absolute;
    opacity: 0.3;
  }

/* Info section 1 */
  .info-section-1 {
    display: grid;
    border: 1px solid black;
    margin-top: 35px;
  }

  .top-half-info-section-1 {
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid blue;
    padding: 50px 200px 50px 200px;
  }

  .top-half-info-section-1-entry {
    display: flex;
    grid-template-columns: auto auto;
    margin-right: 50px;
    border: 1px solid green;
    width: 400px;
  }

  .top-half-info-section-1-entry p{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
  }

  .top-half-info-section-1-entry img{
    margin-right: 50px;
    border: 1px solid black;
  }


/* Info section 2 */
.info-section-2 {
  display: grid;
  grid-template-rows: auto auto auto;
}

.info-section-2-header {
  /* display: grid; */
  /* grid-template-columns: auto auto; */
  display: flex;
  border: 1px solid black;
  justify-content: center;
}

.info-section-2-header-1 {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 28px;
  color: #F36819;
  margin-right: 10px;
}

.info-section-2-header-2 {
  font-family: 'Roboto';
  font-size: 28px;
  color: #283647;
}
